.container>div{
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 600px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(236, 60, 60);  
    color: aliceblue;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    margin: auto;
    margin-top: 2rem;   
    padding-left: 15px; 
    padding-right: 15px;
} @media screen and (max-width:768px) {
    .container>div{
        align-items: center;
        justify-content: center;
    }
    .content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 250px;
    height: 130px;
    border-radius: 10px;
    background-color: rgb(236, 60, 60);  
    color: aliceblue;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    margin: auto;
    margin-top: 2rem;  
    padding-left: 15px; 
    padding-right: 15px;
    font-size: 10px;
}
}