.container>div{
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 600px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(236, 60, 60);  
    color: aliceblue;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    margin: auto;
    margin-top: 2rem;   
}
.bicon{
    padding-left: 26rem;
}
.btn{
    color: white;
    background-color: rgb(22, 171, 45);
    padding: 8px 20px;
    border: none;
    border-radius: 25px;
    margin-top: 2rem;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease 1000ms;
    color: rgb(207, 179, 179);

}